body {
  background: var(--bg);
  color: var(--text);
}
body[data-theme='light'] {
  --bg: #fff;
  --text: #000;
}
body[data-theme='dark'] {
  --bg: #222;
  --text: #eee;
}
body[data-hc='true'] {
  --bg: #000;
  --text: #fff;
}
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.dashboard .body {
  flex: 1;
  display: flex;
}
.sidebar {
  width: 200px;
  padding: 1rem;
  background: #f0f0f0;
}
.sidebar[data-collapsed] {
  width: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar.right {
  border-left: 1px solid #ccc;
}
.sidebar.left {
  border-right: 1px solid #ccc;
}
main {
  flex: 1;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #d0d0d0;
}
.topbar[data-collapsed] {
  justify-content: flex-start;
  gap: 0.5rem;
}


.design-topbar {
  background: #b0b0b0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 1rem;
}

.context-menu {
  position: fixed;
  list-style: none;
  padding: 4px;
  margin: 0;
  background: white;
  border: 1px solid #ccc;
}
